@import 'reset';
@import 'owl.carousel.min';
@import 'owl.theme.default.min';

* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {

    font-size: 18px;

    font-family: 'Maven Pro', sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}

.sending {
    position: fixed;
    background-color: rgba(0,0,0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100023;
    color: #fff;
    display: none;
}

.sending__content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #FF5759;
  border-color: #FF5759 transparent #FF5759 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.main-wrapper {
    background-color: #E7ECF1;
}

.row {
    padding: 0 10px;

    @media (min-width: 370px) {
        padding: 0 20px;

    }
}

.space-bot {
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        margin-bottom: 80px;
    }
}

.header {
    font-weight: 500;
}



.nav {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: 900px) {
        justify-content: flex-end;
        max-width: 800px;
        margin: 0 auto;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    padding: 5px;
    font-weight: bold;
    @media (min-width: 420px) {
        padding: 20px 15px;

    }

    &:hover {
        background-color: #93A4B2;
        color: rgb(94, 57, 9);
    }
}


.main-img {
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.about-us-sec {
    overflow: hidden;
    padding: 25px 0;
    background-color: #3F5D73;
    position: relative;

    @media (min-width: 1024px) {
        padding: 70px;

        .row {
            margin: 0 auto;
            max-width: 900px;

            .title {
                text-align: left;
            }

            .description {
                margin: 0 50px;
                margin-right: 80px;
                text-align: justify;
                margin-left: unset;
                @media (min-width: 1350px) {
                    margin-left: 130px;
                    
                }
                
            }
        }

    }
}

.rectangles {
    position: absolute;
    top: 0;
    right: 0;
}
@media (min-width:585px) {

    .rectangle__big {
        display: inline-block;
        width: 280px;
        height: 280px;
        background-color: #9F5A66;
        position: relative;
        &--first {
            z-index: 1;
        }
    }
    .rectangle__medium {
        width: 94px;
        height: 94px;
        background-color: #FF5759;
        position: absolute;

        &--left {
            top: 71px;
            left: -63px;
        }

        &--right {
            left: 84px;
            top: -77px;
        }

        &--corner {
            bottom: -33px;
            left: -54px;
            display: none;
            @media (min-width:1200px) {
                display: block;
            }
        }
    }

    .rectangle__mb {
        width: 158px;
        height: 158px;
        background-color: #FF5759;
        position: absolute;
        z-index: 10;

        &--left {
            top: -141px;
            left: -131px;
            display: none;
            @media (min-width:1200px) {
                display: block;
            }
        }

        &--right {
            left: -131px;
            top: -341px;
            display: none;
            @media (min-width: 1024px) {
                display: block;   
            }
        }
    }

    .rectangle--sm {
        width: 66px;
        height: 66px;
        background-color: #FF5759;
        position: absolute;
        top: 71px;
        left: 62px;
    }
    
    .rectangle__big--first {
        transform: rotate(45deg) translate(458px, 81px);
    
    
    }
    
    .rectangle__big--second {
        transform: rotate(45deg) translate(58px, -77px);
    }
}



.title {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
        color: #929EA7;
    }

    
    @media (min-width:900px) {
        font-size: 50px;   
    }

    &--sec {
        font-size: 35px;
    }
}



.description {
    position: relative;
    color: #B2BEC7;
    line-height: 32px;

    @media (min-width:900px) {
        line-height: 45px;
    }
    
}

.offer {
    background-color: #3F5D73;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
    color: #B2BEC7;
    letter-spacing: 1px;

    @media (min-width:1024px) {
        padding: 60px 0;

        .title {
            margin-bottom: 30px;
        }
    }
}
.middle-box {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #FF5754;
    transform: rotate(45deg);
    display: none;
}
.offer__list {


    @media (min-width: 1024px) {
        margin: 0 auto;
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background-color: #FF5754;
        }

        &::after {
            height: 2px;
            top: 47%;
            left: 0;
            width: 100%;
        }

        &::before {
            height: 100%;
            width: 3px;
            top: 0;
            left: 47%;
        }

        .middle-box {
            display: block;
            top: 45%;
            left: 45.9%;
        }
    }


}



.group {
    padding: 20px 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 70%;
        background-color: #FF5754;
        transform: translateX(-50%);
    }

    &:last-of-type {
        &::before {
            content: none;
        }
    }

    @media (min-width: 1024px) {
        width: 50%;
        padding: 30px 0;

        &:before {
            content: none;
        }
    }
}

.offer__item {
    line-height: 32px;
    
}

.offer__link {
    &:hover {
        color: #FF5754;
    }
}

.gallery {
    padding: 20px 0;
}

.custom-nav {
    display: none;
}
.gallery__title,
.map__title {
    color: #000000;
    margin-bottom: 40px;
}

.gallery-cnt {
    position: relative;
}

.gallery__item {
    position: relative;
    cursor: pointer;
    .middle-box {
        display: none;
    }

    @media (max-width: 1000px) {
        .middle-box {
            display: none !important;
        }
    }

    @media (min-width:1000px) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #3F5D73, $alpha: 0.6);
        }
        .middle-box {
            display: none;
            z-index: 1;
            top: 50%;
            left: 9%;
            transform: translateY(-50%) rotate(45deg);
        }
        .gallery__line {
            display: none;
            position: absolute;
            top: 50%;
            height: 4px;
            width: 90%;
            background-color: #FF5754;
            z-index: 3;
            transform: translateY(-50%);
        }

        .gallery__left-line {
            left: 0;
        }
        .gallery__right-line {
            right: 0;
        }
    }
}

.owl-item.active {
    .gallery__item {
        cursor: default;

        &::after {
            content: none;

        }

        .gallery__line {
            display: none;
        }
    }
    .middle-box {
        display: none;
    }
}

#mapid {
    height: 300px;
}


.contact {
    padding: 30px 0;
    text-align: center;
    background-color: #3F5D73;
    position: relative;
    overflow: hidden;

    .rectangles {
        transform: scaleX(-1);
        position: absolute;
        left: 0;
        top: 8px;
        right: unset;
    }

    .title {
        font-size: 24px;
    }

    .contact__info {
        position: relative;
    }

    @media (min-width:1024px) {
        padding: 120px 0;
        .row {
                display: flex;
                max-width: 900px;
                justify-content: space-around;
                margin: 0 auto;
                position: relative;

                
            }
    }


}



.info {
    line-height: 30px;
    color: #fff;
    display: block;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .form__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1024px) {
            flex-direction: row;

            input:first-of-type {
                margin-right: 20px;
            }
            
            
        }
    }

    input,
    textarea {
        background-color: #3F5D73;
        border: none;
        border-bottom: 2px solid #fff;
        color: #CCD4DA;
        margin-bottom: 20px;
        &:focus {
            border-bottom-color: #FF5754;
        }
    }

    input:-internal-autofill-selected {
        background-color: #fff;
    }

    textarea {
        resize: none;
        height: auto;
        margin-bottom: 30px;

        @media (min-width: 1024px) {
            width: 100%;
        }
    }

    button {
        padding: 10px 25px;
        border: 2px solid #fff;
        background-color: transparent;
        color: #CCD4DA;

        &:focus {
            color: #FF9A98;
            border-color: #FF9A98;
            background-color: #B25960;
        }
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #3F5D73 inset !important;
}


.footer {
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}


.response {
    position: fixed;
    bottom: 30px;
    left: 50%;
    width: 60%;
    min-height: 50px;
    background-color: #BAE676;
    text-align: center;
    z-index: 1000;
    transform: translateX(-50%) translateY(500px);
    transition: 0.6s all;

    p {
        line-height: 30px;
    }

    &.error {
        background-color: #E05355;
    }
}


.opening {
    margin-top: 20px;
}
.second-desc {
    margin-bottom: 20px;
    text-transform: uppercase;
}
